.hero-img {
   position: absolute;
   height: 100% !important;
   width: 100% !important;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   object-fit: cover;
   color: transparent;
}

.high-impact-text {

   p {
      line-height: 1.2;
      font-size: 18px;
      margin-bottom: 5px;
      margin-top: 0;

      @media (min-width: 720px) {
         font-size: 22px;
      }
   }

   p:first-of-type {
      @apply mb-[24px];
      @apply text-2xl;
      @apply md:text-3xl;
   }

}

.work-card {
   .work-card-item {
      background: #efefef;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      position: relative;
      overflow: hidden;

      img {
         left: auto !important;
         top: auto !important;
         right: 0px !important;
         bottom: 0px !important;
         height: auto !important;
         width: 30% !important;
      }

      h2 {
         text-align: center;
      }

      @media (min-width: 960px) {
         h2 {
            text-align: left;
         }
      }

      &:not(:last-child) {
         height: 120px;
      }

      &:not(:last-child) {
         .work-card-ul {
            li {
               &::after {
                  content: '/';
               }

               &:last-child {
                  &::after {
                     content: initial;
                  }
               }
            }
         }
      }

      &:last-child {
         &>div {
            display: flex;
         }

         &>div {
            flex-direction: column;
         }

         @media (min-width: 960px) {
            &>div {
               flex-direction: row;
            }
         }

         @media (min-width: 960px) {
            &>div {
               gap: 2.5rem;
            }
         }

         img {
            height: 70% !important;
            width: auto !important;
         }

         .work-card-ul {
            flex-direction: column;
         }

         .work-card-ul {
            text-align: center;
         }

         @media (min-width: 960px) {
            .work-card-ul {
               text-align: left;
            }
         }
      }
   }

   @media (min-width: 960px) {
      .work-card-item {
         justify-content: flex-start;
      }
   }

   @media (min-width: 720px) {
      .work-card-item {
         padding: 15px;
      }
   }
}