.position {
  margin-bottom: 0.75rem !important;

  h3 {
    font-size: 24px !important
  }

  h3 {
    margin-bottom: 0.75rem !important
  }

  dl {
    margin-bottom: 0.5rem !important
  }

  dl {
    padding-top: 5px !important
  }

  dl {
    padding-bottom: 10px !important
  }

  @media (min-width: 720px) {
    dl {
      display: grid !important
    }
  }

  @media (min-width: 720px) {
    dl {
      grid-template-columns: repeat(5, minmax(0, 1fr)) !important
    }
  }

  @media (min-width: 720px) {
    dl {
      grid-template-rows: repeat(1, minmax(0, 1fr)) !important
    }
  }

  @media (min-width: 720px) {
    dl {
      border-bottom-width: .1rem !important
    }
  }

  @media (min-width: 720px) {
    dl {
      --tw-border-opacity: 1 !important;
      border-bottom-color: rgb(237 237 237 / var(--tw-border-opacity)) !important
    }
  }

  dl {
    dt {
      margin-bottom: 0.75rem
    }

    dt {
      font-weight: 600
    }

    @media (min-width: 720px) {
      dt {
        grid-column-start: 1
      }
    }

    @media (min-width: 720px) {
      dt {
        grid-column-end: 2
      }
    }

    @media (min-width: 720px) {
      dt {
        margin-bottom: 0px
      }
    }

    dd {
      padding-left: 1.5rem
    }

    @media (min-width: 720px) {
      dd {
        grid-column-start: 2
      }
    }

    @media (min-width: 720px) {
      dd {
        grid-column-end: 6
      }
    }

    dd {
      ul {
        list-style-type: disc !important
      }

      ul {
        margin-left: 0.5rem !important
      }
    }
  }
}

.entry {
  border-radius: 0.375rem !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity)) !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  text-align: center !important;

  a {
    margin-left: auto !important;
    margin-right: auto !important
  }

  a {
    display: block !important
  }

  a {
    width: 100% !important
  }

  a {
    border-radius: 0.5rem !important
  }

  a {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(78 165 94 / var(--tw-bg-opacity)) !important
  }

  a {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important
  }

  a {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important
  }

  a {
    font-family: Noto Sans JP, sans-serif !important
  }

  a {
    font-size: 18px !important
  }

  a {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important
  }

  @media (min-width: 720px) {
    a {
      max-width: 24rem !important
    }
  }
}